body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h1 {
    font-size: 65px;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 40px;
    text-align: center;
}

#part-one {
    color: whitesmoke
}

#part-two {
    color: rgba(0, 0, 0, 0.598);
    padding: 10px 5px;
}

a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(254, 76, 0), red);
    padding: 10px 20px;
    border-radius: 3px;
}

#first-page {
    text-align: center;
    background-color: rgb(41, 23, 23);
    background-image: url("../images/donation4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    margin-bottom: 30px;
    padding-top: 200px;
    padding-bottom: 190px;
}

.second-page {
    text-align: center;
    font-size: 20px;
}

#amount {
    text-align: center;
    margin-bottom: 30px;
}

.taka {
    text-align: center, bold;
    color: rgba(0, 0, 0, 0.491);
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(91, 85, 85, 0.075);
    padding: 20px 15px;
}

#tk {
    color: rgba(255, 0, 0, 0.509);
    border: 1px solid rgba(255, 0, 0, 0.491);
    background-color: rgba(255, 0, 0, 0.231);
    padding: 20px 20px;
}

#input {
    padding: 20px 20px;
    text-align: center;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgba(90, 85, 85, 0.717);
    display: block;
    text-align: center;
}

#donate-button {
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 100px;
}

#donation-plan {
    display: flex;
    margin: 0% 10% 0% 10%;
}

.package1 {
    margin: 3%;
    background-color: rgba(183, 235, 218, 0.372);
    padding: 5% 2% 5% 2%;
    border-radius: 3px;
}

.package2 {
    margin: 3%;
    background-color: rgba(243, 159, 237, 0.189);
    padding: 5% 2% 5% 2%;
    border-radius: 3px;
}

.package3 {
    margin: 3%;
    background-color: rgba(255, 205, 4, 0.231);
    padding: 5% 2% 5% 2%;
    border-radius: 3px;
}

.donation-type {
    text-align: center;
    padding: 6%;
    margin: 0px;
}

.button-type {
    padding-left: 10%;
    padding-right: 10%;
}

.updates p {
    text-align: center;
}

footer {
    background-color: black;
    padding: 1%;
}

footer h2 {
    color: rgb(255, 67, 67);
    text-align: center;
    font-size: 32px;
    font-family: Monotype Corsiva;
}

footer p {
    color: white;
    text-align: center;
}